<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--会打印 debug info warn error级别日志 但是trace级别不打印 后面的具体配置会替代这个总的配置-->
    <logger name="com.example.demo" level="DEBUG"/>
    <!--dev环境 会覆盖上面总的那个配置-->
    <springProfile name="dev">
        <logger name="com.example.demo" level="WARN"/>
    </springProfile>
    <springProfile name="prod">
        <logger name="com.example.demo" level="ERROR"/>
    </springProfile>
</configuration>